$popin-color-right: rgba(13, 183, 147, 0.80);
$popin-color-wrong: rgba(255, 78, 80, 0.80);
$popin-color-launch: rgba(255,255,255,0.80);
$popin-color-next: rgba(255, 205, 39, 0.8);
$popin-color-final: rgba(143, 255, 28, 0.8);

$color-light:#ffffff;
$color-dark:#000000;
$color-secondary:#FFEB3B;
$color-primary:#0db793;