.covers-grid {
  display: flex;
  flex-wrap: wrap;
}

.credits,
.cover-logo,
.cover {
  position: relative;
  overflow: hidden;
  flex: 1;
  flex-basis: 20%;

  &:before {
    content: '';
    padding-bottom: 100%;
    display: block;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  @media screen and (max-width: 512px) {
    flex-basis: 50%;
  }
}

.credits {
  background: $color-primary;
  color: $color-light;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .credit-content {
    h1 {
      font-size: 26px;
      margin-bottom: 25px;
      font-weight: bold;
    }

    p {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }
}

.cover {
  cursor: pointer;
  transition: 0.3s ease-out;

  img {
    top: 50%;
    left: 50%;
    transform: scale(1.2) translate(-50%, -50%);
    transform-origin: 0 0;
    transition: 0.3s;

    &:hover {
      transform: scale(1.1) translate(-50%, -50%);
      opacity: 0.8;
    }
  }

  .infos {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    height: 20px;
    background: $color-dark;
    color: $color-light;
    width: 100%;
  }
}
